
/* FOOTER DESIGN */

footer{
    width: 100%; /* Ensures the footer spans the full width of the viewport */
    background: linear-gradient(to right, #2c94df, #302525);
    /* background: linear-gradient(to right, #00093c, #2d0b00); */
    color: #fff;
    padding: 10px 0 30px;
    border-top-left-radius: 110px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    /* flex-basis: 25%; */
    padding: 10px;
}

.logo-footer{
    width: 80px;
    margin-bottom: 30px;
}

.portfolio-p{
    margin-top: -19px;
    line-height: 2;
}

.col h3{
    width:fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
    transition: color 0.3s ease;
}
.email-id:hover{
    color: #696969;
    cursor: pointer;
    border: none;
}
.phone-number{
    transition: color 0.3s ease;
    width: fit-content;
}
.phone-number:hover{
    color: #696969;
    cursor: pointer;
    border-bottom: 1px solid #696969;
}


.footer-li{
    margin-bottom: 12px;
}

.footer-li-a{
    color: #fff;
    transition: color 0.3s ease;
}
.footer-li-a:hover{
    border-bottom: 1px solid #9f9f9f;
    color: #9f9f9f;
}

iframe{
    width:110%;
}

.footer-social-icons .fab{
    width:40px;
    height: 40px;
    border-radius:50%;
    text-align: center;
    line-height:40px;
    font-size: 20px;;
    color:#000;
    background:#fff;
    margin-right: 20px;
    cursor: pointer;
}

.footer-social-icons .fab:hover{
    background: none;
    color:#fff;
    transition: 0.5s;
}

.footer-hr{
    width: 90%;
    border:0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
    color:#b8b8b8;
}
.copyright a{
color:white ;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius:3px;
    position: absolute;
    top:25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width:15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top:0;
    left:10px;
    animation: moving 2s linear infinite, colorChange 2s linear infinite;
}

@keyframes moving{
    0%{
        left:-20px;
    }
    100%{
        left: 100%;
    }
}


@keyframes colorChange {
    0% {
        background: rgb(255, 255, 255);
    }
    100% {
        background:  rgb(108, 122, 255);
    }
}

/* RESPONSIVE FOOTER */

@media (max-width:700px){
    footer{
        bottom:unset;
        font-size: 15px;
    }
    iframe{
        width:100%;
    }
    .col{
        flex-basis: 100%;
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
    .footer-social-icons .fab{
        margin-right: 30px;
    }
}


